<!-- Html page to handle 404 in a friendly and humorous way  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="styles/error.css">
</head>

<body>
    <div class="container">
        <div class="error">
            <div class="error__title">404</div>
            <div class="error__subtitle">Page not found</div>
            <div class="error__description">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</div>
            <a href="/" class="error__button error__button--active">Go to homepage</a>
        </div>
    </div>
</body>

</html>