<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Product Catalog">
        <title>Product Catalog</title>
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/navbar.css">
        <link rel="stylesheet" href="styles/products.css">
    </head>
    <body>
        <section th:insert="fragments/navbar.html" id="navbar"> </section>
        <section id="content" >
            <h1>Products</h1>
            <a class="action-pill" th:href="@{/product-form}">Add a new Product</a>
            <div id="products">
                <div class="product" th:each="prod : ${products}">
                    <h3 th:text="${prod.name}"></h3>
                    <p th:text="${'Category: ' + prod.category.name}"> </p>
                    <p th:text="${prod.description}"></p>
                    <p th:text="${#numbers.formatCurrency(prod.price)}"></p>
                    <button>Edit</button>
                </div>
            </div>
        </section>
    </body>
