<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Product Catalog">
        <title>Product Catalog</title>
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/navbar.css">
    </head>
    <body>
        <section th:insert="fragments/navbar.html" id="navbar"> </section>
        <section id="content">
            <h2>Products</h2>
        </section>
    </body>
